<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Nepal Bharat Maitri</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form-wrap">
        <form action="#" class="login-form">
          <div class="form-header">
            <h2>Welcome</h2>
            <span>Enter your PAN Number to login.</span>
          </div>
          <div class="input-group">
            <input type="text" name="pan-number" placeholder="Pan Number..." />
          </div>
          
          <div class="button-group">
            <button type="submit">Login</button>
          </div>
          <div class="container signin">
            <p>New to site? <a href="#">Sign up</a></p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
